/* Global color value*/
/* @import url("variables.scss"); */
/* https://stackoverflow.com/questions/15649244/responsive-font-size-in-css*/
@font-face {
  font-family: "EBGaramond";
  src: local("EBGaramond"),
   url('~assets/fonts/EBGaramond-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Garamond";
  src: local("Garamond"),
   url('~assets/fonts/Garamond-Normal.ttf') format("truetype");
}
@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"),
   url('~assets/fonts/Comfortaa-Regular.ttf') format("truetype");
}

:root {
  /* colors*/
  --main-color:  #212282;
  --dark-color:  #000;
  --light-color:  #fff;
   /* const nav */
  --nav-heigh:  200px;
  --nav-font-size:  9px;
  --nav-color:#414196;
  --num-color:#E5E5FF;

  --screen-xs: 600px;
  --screen-sm: 960px;
  --screen-md: 1264px;
  --screen-lg: 1904px;

  /**/
  /**/

}
*{
  box-sizing: border-box;
}

body {
  /*font-size: 16px;
  */font-family: "EBGaramond";

  /* small */


/* Extra large */


}

.py-xs-10 py-sm-12 py-md-14 py-lg-15 py-xl-16{
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.pb-100{
  padding-bottom: 100px !important;
}


/*
for debugs responsive
*/
/* Extra small */



